html, body, #apl, .bol, #bol, #content, #content21, #content22, #content23, .imgformul, #imgformul, .imgfmnew, #sidebar,#sidebarR, #horznav, .footer, #footer, #pages, #sodbackground, #wrapper, #header, a ,ul,li,span,em,i,.vector,#vector, i{
	margin:0;
	padding:0;
	font-family:Verdana,"Times New Roman",Georgia,Helvetica,sans-serif;
	font-size:16px;
}
#center, #fm,#fm1,#fm2,.fm2, #formul, #fmn #fmb,.fmb,#mattable,#vec,#vector{
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
/*font-size:1.4em;*/
font-size:18px;
font-style:italic;
}
#left,#center,#right2,#lefthr,#righthr {
    display: inline-block;
 /*   //display: inline;
    //zoom: 1;*/
    width: 100%;
   margin-right: -100%;
    /* vertical-align: bottom;*/
}
a {
	
color:#452012;color:#0000cc;
margin:0px;
padding:0px;

border:0px solid #C36;

}

#absol{
	position:fixed;
}
#afbeg {
	
}
#afend{
	clear:right;
}
#aforizm{
	text-indent:15px;
	
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	
	margin:10px 10px 0px 0px;;
	padding:0;
	font-style:italic;
	text-align:justify;
	
}
#afor{
	padding:0px;
	margin:10px 0 0 0;
	font-style:italic;
	font-size:0.95em;
	
}
#afordiv{
	max-width:300px;
	
	margin:0;
	padding:0;
	
}
.af,.af1{
	width:300px;
}
.af1{
	text-align:right;
}
.algri{
	float:right;
}
#apl{
	border:3px solid #3478B8;
	margin:0;
	padding:0;
	min-width:550px;
	
	
}
#attention{
	color:#F00;
	font-size:11px;
	margin:0;
	padding:0;
}
#attention1{
	color:#F00;
	font-size:11px;
	margin:0;
	padding:0;
	position:relative;
	top:20px;
	left:200px;
	width:800px;
	
	
	
}
.author{
	font-size:inherit;
	font-style:italic;
}

.bol{
font-weight:bold;
	font-style:normal;
	font-size:16px;
	
}
.bolit{
font-weight:bold;
	font-style:italic;
	
	
}
.bot1{
	width:290px;
	float:left;
}
.bot2{
	
	clear:left;
}

#center1{
	margin-top:10px;
	text-align:center;
}
.center1{
	margin-top:10px;
	text-align:center;
}
.counter{
	position:absolute;
	top:20px;
	left:20px;
}
#center{
	text-align:center;
	
	
	/*border:1px solid #0F3;*/
}


.calcs{
	list-style-type: none;
	text-decoration:none;
}
.calcs li a{
	text-decoration:none;}
.counter1{
		height:200px;
		border:1px solid red;
}

.count{
	border:1px solid blue;
}
#count{
	border:1px solid blue;
	width:88px;
	visibility:hidden;
}
em {
font-style:italic;
}
.emind{
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
font-style:italic;
font-size:14px;
}
.fm{
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	font-style:italic;
font-size:18px;
}
.fmn{
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
font-style:normal;
/*font-size:18px;*/
}
.fmverd{
font-family:Verdana,"Times New Roman",Georgia,Helvetica,sans-serif;
font-style:normal;
}
.formul{
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
text-align:center;
font-style:italic;
font-size:18px;
}
.formulnumbernew{
	text-align:right;
	width:30px;
}
.formulbody{
	text-align:center;
	vertical-align:central;
	
	
}
.formulbody tr td{
	
	margin-left:0;margin-right:0;
	padding-left:0;
	padding-right:0;
}
.formulbody td div{
	text-align:center;
}
.formulbodystr{
	display:inline;
	
	
	
}
.font10{
	font-size:12px;
}
.frl1{
padding:0;
margin:0;
border-bottom:0px solid black;
background-color:black;
height:1px;
}
#footer1{
	border:0px solid red;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
}
.he10{
	height:10px;
}
	
.hed {
	text-indent:0px;
	font-size:24px;
	padding:10px 10px 10px 0px;
	/*
background:#EBDCCC;text-shadow:#39F;

background:#DBEAF9;*/

	border:0px solid #C9A278;
	margin:0;
	color:#000;
	font-style: normal;
}



i{
	font-size:18px;
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	font-style:italic;
	
}
.imgformul, .imgformulnumber,.imgformulnumber0,.imgformulnumber1,.imgformulnumber2,.imgformulnumber10,.imgformulnumber15,.imgformulnumber20,.imgformulnumber25,.imgformulnumber30,.imgformulnumber35,.imgformulnumber50{
	  display: inline-block;
  /*display: inline;
   zoom: 1;*/
    width: 100%;
   margin-right: -100%;
    /* vertical-align: bottom;*/
}
.imgfmnew{
	/* width: 100%;*/
	 text-align:center;
	 
}

.imgformulnumber,.imgformulnumber0,.imgformulnumber1,.imgformulnumber2,.imgformulnumber10,.imgformulnumber15,.imgformulnumber20,.imgformulnumber25,.imgformulnumber30,.imgformulnumber35,.imgformulnumber50{
	text-align:right;
	/*border:1px solid  #C30;*/
	vertical-align:45px;
	border:0px solid red;
}

.imgformul{
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	text-align:center;
	font-style:italic;
font-size:18px;	
	/*border:1px solid #0F3;*/
	
}
.imgformulnumber0{	vertical-align:0px;}
.imgformulnumber1{	vertical-align:25px;}
.imgformulnumber2{	vertical-align:60px;}
.imgformulnumber10{	vertical-align:10px;}
.imgformulnumber15{	vertical-align:15px;}
.imgformulnumber20{	vertical-align:20px;}
.imgformulnumber25{	vertical-align:25px;}
.imgformulnumber30{	vertical-align:30px;}
.imgformulnumber35{	vertical-align:35px;}
.imgformulnumber50{	vertical-align:50px;}

#imgformul, #imgformulnumber,#imgformulnumber0,#imgformulnumber1,#imgformulnumber2,#imgformulnumber10,#imgformulnumber15,#imgformulnumber20,#imgformulnumber25,#imgformulnumber35,#imgformulnumber50{
	  display: inline-block;
  /*display: inline;
   zoom: 1;*/
    width: 100%;
   margin-right: -100%;
    /* vertical-align: bottom;*/
}

#imgformulnumber,#imgformulnumber0,#imgformulnumber1,#imgformulnumber2,#imgformulnumber10,#imgformulnumber15,#imgformulnumber20,#imgformulnumber25,#imgformulnumber35,#imgformulnumber50{
	text-align:right;
	/*border:1px solid  #C30;*/
	vertical-align:45px;
	border:0px solid red;
}

#imgformul{
	text-align:center;
	/*border:1px solid #0F3;*/
}

#imgformulc{
	text-align:center;
	
	/*border:1px solid #0F3;*/
}
#imgformulr{
	text-align:right;
	position:relative;
	
	/*z-index:1;*/
	top:-30px;
	margin:0;
	padding:0;
	
}
#imgformulr80{
	text-align:right;
	position:relative;
	z-index:1;
	top:-75px;
	
	
}
#imgformulnumber0{	vertical-align:0px;}
#imgformulnumber1{	vertical-align:25px;}
#imgformulnumber2{	vertical-align:60px;}
#imgformulnumber10{	vertical-align:10px;}
#imgformulnumber15{	vertical-align:15px;}
#imgformulnumber20{	vertical-align:20px;}
#imgformulnumber25{	vertical-align:25px;}

#imgformulnumber35{	vertical-align:35px;}
#imgformulnumber50{	vertical-align:50px;}
#imgformul ul{
	list-style-type: none;
}
#imgseries{
	border:3px solid #336666;
	padding:5px 0px;
}
.imgvert{
	vertical-align:-20px;
}
.imgimg{
	border:1px solid red;
}
	
.livint tr td{
	
}

#live{
	background-color:white;
	
}
#lefthr a, #righthr a { display: inline-block; position: relative;
font-size:0.9em;

}
#lefthr a:hover, #righthr a:hover {
	color:#F00;
	
}
.mat{
	border-bottom:1px solid #3478B8;
	
	margin:0;
	padding:0;
}
/*.nametab{height:200px;}*/
.pn{
text-indent:0px;
}
.pnnopadmar,.pnnomarpad{text-indent:0px;
	margin:0;
	padding:0;
	font-size:1em;
	border:0px solid red;
}
.ramka{
	border:3px solid #336666;
	border-radius:10px;
	padding:5px;
	margin:0;
	width:450px;
	text-align:center;
}

.sb0{
	float:left;
	
	margin:0;
	padding:0;
	width:16px;
	height:16px;
	cursor:pointer;
	/*background-image:url(../../images/plus.gif);*/
	font-size:14px;
	
	border: 0px solid red;
}




.sb1{float:left;
	border:0px solid black;
	margin:0;
	padding:0;
	
}
.sb2{
	border:0px solid #336666;
	margin:0px 0 2px 5px;
	padding:5px;
	
	background-color:#EEF0F0;

	
}
.sb2 a{
	background-color:#EEF0F0;
	border:0px solid red;
	color:black;
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;	
	font-size:16px;
	text-decoration:none;
}

.subhed, #subhed {
	font-size:1.3em;
text-indent:0px;
padding:20px 10px 10px 0px ;
/*font-size:18px;

background:#EBDCCC;
background:#DBEAF9;*/
/*text-shadow:#39F;*/
/*text-align:center;*/
border:0px solid #C9A278;
margin:0;
color:#0088cc;color:#336666;color:#000;
}


.subnavlistbot{
	list-style-type:none;
	font-size:0.9em;
	text-indent:20px;
}
.veralg{
	vertical-align:middle;
	
}
.veralgtab{
	vertical-align:middle;
	float:left;
	
}


#fm1{
	font-style:normal;
	font-size:inherit;
}
#fmb,.fmb{
	font-weight:bold;
	font-family:"Times New Roman";
	font-size:18px;
	
}
#fmbn,.fmbn{
	font-weight:bold;
	font-family:"Times New Roman";
	font-size:18px;
	font-style:normal;
	
}
#fmn,.fmn{
	font-style:normal;
	
	
}
.fmn12{
	font-family:"Times New Roman";
	font-size:12px;
	font-style:normal;
}
.fm12{
	font-family:"Times New Roman";
	font-size:12px;
}
.fm14,fmn14{
	font-family:"Times New Roman";font-size:14px;
	font-style:italic;
}
.fmn14{
	
	font-style:normal;
}
.fm20{
	font-family:"Times New Roman";font-size:24px;
	font-style:italic;
}
.fmit14{
font-family:"Times New Roman";font-size:14px;
	font-style:italic;	
}
#fmnind,.fmnind{/* индекс формул */
	font-style:normal;
	font-size:14px;

}
#fm2,.fm2{
	font-style:normal;
	font-size:12px;
}
ul li.fmsys{
	list-style-type:none;
}


body, span {
	/*font-size:14px;;
	font-family:Verdana,"Times New Roman",Georgia,Helvetica,sans-serif;*/
	padding:0;
	margin: 0;
	font-style:normal;
}


p {
	/*font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;*/
/*font-size: 14px ;*/
text-indent:2%;
/*color:#505050;*/
}

p a {
	margin:0;
	padding:0;
}
p a:hover{
	color:#FF0000;
}
div a:hover{
	color:#FF0000;
	background-color:inherit;
}
p#prim a{
	font-size:1em;
}



table#matrix {
	text-align:right;
	font-size:1.2em;
	border-left:double;
	border-right:double;
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	
}
table#matrix1 {
	font-size:1.1em;
	border-left:double;
	border-right:double;
	font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
	
}
table#tab1{
	
	border-collapse:collapse;
	border:2px solid ;
}
table#tab1 th{
	border-right:2px solid;
	border-bottom:2px solid;
}
table#tab1 td{
	border-right:1px solid;
	border-bottom:1px solid;
	padding:2px 3px;;
}
table#tab1 caption{
	font-weight:bold;
	margin-bottom:10px;
	
}
td{
border:solid 0px;
padding: 0px 4px 0px 4px;
}
.calcul{
border:0px solid #3478B8;


}
.clear {
clear:both;

}
.divdiv{
/*overflow: scroll;*/
border:0px solid #3478B8;
margin:0;
padding:0;
}

ul li {
	padding:0px;
	margin:0px;
	
}

#bot1{
	width:290px;
	float:left;
}
#bot2{
	
	clear:left;
}


#content21{
	padding:0px 10px 0px 0px;
	

}
#content22{
	padding:0px 10px 0px 0px;
	border:0px solid red;

}
#content23{
	padding:0px 10px 0px 0px;
	border:0px solid red;

}
.mat0{
	border:2px solid red;
}
#patt{
	color:#F00;
	font-size:11px;
	margin:0;
	padding:0;

}
#pattgreen{
	color:#03F;
	font-size:11px;
	margin:0;
	padding:0;

}
#bigfm{
	font-size:18px;
	text-align:center;
	
	
}
#bol {
	/*color:#0088cc;color:#0000cc;*/
	font-weight:bold;
	font-style:normal;
/*	letter-spacing:2px;*/
	

}
#bol10 {
	font-size:12px;
	
	font-weight:bold;
	font-style:normal;
	margin:10px 0px 0px 0px;
	
	padding:0;

	

}
#bold {
	font-weight:bold;
}
	
#content {

background-color:#ffffff;
margin:0;

/*margin: 0px 210px 0px 0px;*/
padding:10px 0px 0px 20px;
border:0px solid  green;


/*
outline:1px solid#cc0000;*/
}

#h10{
	padding-top:20px;
	margin:0;
	padding-bottom:0;
}
#hdiv1 {
	
	/*float:left;*/
	width:200px;
/*	text-indent:25px;
	position:relative;
	top:20px;*/
	border:0px solid #C60;
	font-style:italic;
	font-size:30px;
	font-weight: bolder;
	font-family: "Times New Roman", Times, serif;
	color:#336666;color:#0066cc;	
}
#hdiv0 {
	width:200px;
		font-size:24px;
	color:#336666;
	font-family:"Comic Sans MS",  "Times New Roman",cursive;
}
#hdiv3 {
		font-size:36px;
	font-weight: bolder;
	letter-spacing:3px;
	padding-left:20px;
		border:0px solid #C60;
	color:#336666;
	/*text-indent:20px;
	width:400px;*/
	
	
	font-family: "Times New Roman", Times, serif;	
}
#hdiv4 {
	white-space:nowrap;
		
	font-weight: bolder;
	letter-spacing:8px;
	text-indent:20px;
		border:0px solid #C60;
	color:#669999;
	/*width:300px;*/
	font-family: "Times New Roman", Times, serif;	
}
#hed00 {
	
	font-size:36px;
font-family:"Times New Roman",Verdana,Georgia,Helvetica,sans-serif;
}
#hed {
	text-indent:0px;
	font-size:1.4em;
	padding:10px 10px 10px 0px;
	/*
background:#EBDCCC;text-shadow:#39F;

background:#DBEAF9;*/

	border:0px solid #C9A278;
	margin:0;
	color:#0088cc;color:#0066cc;color:#336666;color:#000;
	font-style: normal;
}


#hedgen {
	text-indent:30px;
	position:relative;
	top:20px;
	border:0px solid #C60;
	font-style:italic;
	font-size:30px;
	font-weight: bolder;
	font-family: "Times New Roman", Times, serif;	
	/*	font-family: "Comic Sans MS",  Arial, cursive, Verdana;*/
}

#header{
	/*text-decoration:none;*/
	/*text-align:inherit;*/
	color:#0088cc;
	
	padding:10px 0px 10px 0px;
	margin:0px 0px 0px 0px;
	/*border:1px solid #03F;
	background-color:#EBDCCC;*/
/*url(../images/nebo.jpg);*/
	
	/*height:70px;
	text-align:center;*/
	/*text-indent:30px;
	
	outline:1px solid#cc0000;*/
	
	background: #ffffff;
	background-color:#ccffff;
}
#header1{
	color:#0088cc;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	
	height:80px;
}
#horznav{font-family:Verdana,"Times New Roman",Georgia,Helvetica,sans-serif;
}
#horznav  {
	margin-left:0px;
	margin-right:0px;
	/*font-size:90%;*/
	background-color:#3478B8;background-color:#336666;
	
}


#horznav  ul {

margin:0;
	padding:4px 10px 4px 10px;
}

#horznav  ul li{border:1px solid blue;
display:inline;
list-style-position:inside;
border:#0F0 0px solid;
margin:2px;

}
#horznav  ul li a{
padding:4px 6px 4px 6px;;	
margin:0px 0px 0px 0px;	
color:#FFF;
border:0px solid #F06;
height:10px;
text-decoration:none;

}
#horznav ul li :hover {
  

background-color: #EEF0F0;
background-color:#669999;
color:#000;
    
}
/*
.hz {

	background-color:#336666;margin:0;
	padding:0px 10px 0px 10px;
	float:left;
	border:0px solid red;
	
}
.hz :hover{
	background-color:#669999;
color:#000;
}
.hz a{color:white;
	text-decoration:none;
	height:inherit;
	width:inherit;
}
.hz1{
	float:left;
}*/
#flash{
	border:2px solid #3478B8;
	width:570px;
	height:470px;
}
#flash1{
	border:2px solid #3478B8;
	
	
	width:570px;
	height:470px;
}
#flash3{
	padding-top:5px;
	
	
	
	
}
#footer {



clear:right;
border:0px solid red;
/*position:relative;*/
}
#footer2{

font-size:12px;
padding: 15px 0px 10px 20px;
background-color:#e7e7e7;background-color:#E5E5E5;
color:#000;

margin: 0px 0px 0px 0px;
text-align:center;

border:0px solid blue;	
}
#footer2 a{
	font-size:inherit;
	font-size:12px;
}

#formul {
	text-align:center;
	
}
.formuln {
	text-align:center;
	font-style:normal;
	
}
#help {
display:none;
	

}
.help {
display:none;
	

}
#helpcalc1 {
display:none;
	

}
.imgborder{
	border:none;
}

#in {

font-style:italic;


font-size:12px;
}
#inn,.inn {

font-style:normal;
font-size:12px;

}
.item1 a{
	font-size:12px;
}
#k18{
	font-size:18px;
}
#left20{
	margin-left:20px;
	margin-bottom:15px;
	
}
.line555{
	padding: 2px 0 0 2px;
	background-color:red;background-color:#336666;
}

#mat{
	border-bottom:1px solid #3478B8;
	
	margin:0;
	padding:0;
}

#matrix1{
	text-align:right;
	font-size:inherit;
}
#mattable{
	text-align:right;
	
	font-style:normal;
	border-left:double;
	border-right:double;
}

.newline{
	clear:left;
}
#nopadmar{
	margin:0;
	padding:0;
}
.newsdate{
margin:0;	padding:0 0 5px 0;text-indent:0px;font-size:0.9em;

}
.newshed{
margin:0;	padding:0 ;
font-size:16px;
}
.nopadmar{
	margin:0;
	padding:0;
}
#openvid{
	color:blue;
	text-decoration:underline;
}
#openvid:hover{
	color:#F00;
	cursor:pointer;
}
#prim12 {
font-size:12px;

}
#prim {
font-size:0.9em;

}
#prim1 {
font-size:14px;
font-weight:bold;
margin:0;
padding-bottom:10px;
}
#primer{
	color:#0088CC;
}

#pn{
	text-indent:0px;
}
#pn1 {
	float:left;
	
	text-indent:0px;
	margin:0;
	padding:0;
	
}
#pn2 {
	text-indent:10px;
	font-size:12px;
	margin:0;
	padding:0;
}
#pnofloat{
	clear:both;
	clear:left;
}
#pp{
	border:1px solid #C63;
}
#pnomargin{
	margin:0;
}
#right1 {
	float:right;
	margin:0;
	padding:0;
}



#list{
	list-style-type: none;
	text-indent:0px;
	
}
#left{
	text-align:left;
	font-style:italic;
}
#lefthr{
	text-align:left;
	
}
#lefthr a{
	text-decoration:none;
}
.news{border-bottom:1px solid gray;margin-bottom:10px;padding-top:10px;}
#norm10 {
	font-size:12px;
	
	
	font-style:normal;
	margin:10px 0px 0px 0px;
	
	padding:0;

	

}
#norm10bold {
	font-size:12px;
	color:black;
	font-weight:bold;
	font-style:normal;
	margin:10px 0px 0px 0px;
	padding:0;
}
#norm10red {
	font-size:12px;
	color:red;
	font-weight:bold;
	font-style:normal;
	margin:10px 0px 0px 0px;
	padding:0;
}
.notitleli{
	margin:0 0 10px 0px;
	
}
.notitleli1{
	text-indent:20px;
}
.notitleli a{
	text-decoration:none;
}

#opredelenie,.opredelenie{
	font-style:italic;
	font-weight:bold;
	color:#000;
}

#pages{
	text-align:center;
	border:0px solid black;
	padding-bottom:20px;
}
#pages img {
border:none;
}
#pages a{
	text-decoration:none;
}
#p12{
	font-size:12px;
}
#p14{
	font-size:14px;
}
#p16{
	font-size:16px;
}
#redcolor{
	color:#F00;
	font-size:1.2em;
}
#picture{
	float:left;
	margin-right:10px;
	margin-bottom:5px;
}
#redcolor1{
	color:#F00;
	
}
#righthr{
	 text-align: right;
}
#righthr a{
	text-decoration:none;
}
#right2 {
    text-align: right;
	/*border:1px solid #C36;*/
}
.right2 {
    text-align: right;
	/*border:1px solid #C36;*/
}
#rek{
	border:0px solid red;
	height:200px;
	background-color:white;
	clear:left;
	
	top:20px;
	position:relative;
}
#rek1{
	display:block;
	border:1px solid red;
	height:200px;
}
	

.onlinecalc{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:24px;
	border:3px solid blue;
	height:100px;
	text-align:center;
	vertical-align:middle;
	margin:5px;
	padding:20px;
	display:inline-table;
	border-radius:10px;
	background:#CCFFFF;
	width:50%;
	position:relative;
	
}
.onlinecalc1{
	font-family:Georgia, "Times New Roman", Times, serif;
	
	border:3px solid #336666;
	
	text-align:center;
	vertical-align:middle;
	margin:5px;
	padding:20px;
	
	border-radius:10px;
	background:#EEEEEE;
	width:50%;
	position:relative;
	
}
.onlinecalc1 div{
	font-size:24px;
}

#sel1{
	font-size:18px
}
#sidebarR{
	float:right;
	border:0px solid red;  /*background:#EEF0F0;*/
}
#sidebar1 {
	
	padding:10px 0 10px 5px;;
	 margin:0;
	 font-size:0.9em;
	/* float:left;
	 background:#ccffff;
	  background:#EEF0F0;*/
	 width:200px;
	 border:0px solid red; 
	/* float:right;
	 position:absolute;
	right:0px;top:110px;*/
	 /* для ie7 ie6
	 z-index:1;
	 top:80px;*/
	
	
	
	 border:0px solid red;
}

#sidebar1 ul{
margin: 0;
padding: 0 0 0px 0;
list-style-type: none;
border:0px solid red; 
font-family: verdana, arial, Helvetica, sans-serif;
 /*list-style-image:url("/images/plus.gif");
	    list-style-type:square;*/


}

#sidebar1 ul li{
	
	margin: 1px 0 0 0;
	padding:0px;
	border:0px solid red;
	

}
#sidebar1 ul ul{
font-size:0.95em;
list-style-type:none;
list-style-image:none;
}
/*
#sidebar1 ul li a{
	padding:2px 15px 0px 5px;
	margin:0;
	font-size:0.85em;
	font-size:12px;
	border:0px solid red;
	
	
	

}*/
#sidebar1 li{
	margin: 0 0 1px 0;
	padding:0px;
}

#sidebar1 a{
	display: block;
/*padding: 10px 10px 10px 10px;*/
width: 160px;
color: #0E5292;
color: #fff;
color:black;font-size:12px;
padding:2px 5px 0px 5px;
	margin:0;
/*font-weight:bold;*/

/*background-color: #3478B8;*/
background-color: #EEF0F0;
background-color: #339999;
background-color:white; background:#EEF0F0;

text-decoration: none;
}
#sidebar1 a:hover {
	color: #fff;color:red;
	background-color: #336666;
	background-color:white; background:#EEF0F0;
	text-decoration: none;
}
#sidebar1 ul ul a{
	font-weight:normal;
	display: block;
	padding: 2px 5px 2px 20px;
	width: 155px;
	color: #000;
	background-color: #EEF0F0;
	background-color: #99cccc;
	background-color:white; background:#EEF0F0;
	text-decoration: none;
	font-size:11px;

}
#sidebar1 ul ul a:hover{
	
color: #fff;color:red;
background-color: #669999;
background-color:white; background:#EEF0F0;
text-decoration: none;
}
.sitemap ul{
	
	list-style-type: none;
	margin:10px 0 10px 0;
}
.sitemap ul li{
	
	margin:5px 0 5px 0;
}
/*
#sidebar1 ul li {
	border:0px solid blue;
	background-color:white;
	
}*/
#sidebar2{
	width:200px;
	padding-top:10px;
	background-color:#EEF0F0;
	background-color:white;
}
.sodsod{
	padding:0 0 0px 20px;
}
.count2{
	display:block;
	background-color:white;
	width:100px;
}
.titleli{

	font-weight:bold;
margin:0 0 10px 0;
}
	

.titleli a{
	font-size:1.1em;
	text-decoration:none;
}


.redred{
	color:red;
	background-color:#CCFFFF;
}
#snormal{
	font-style:normal;
}
#sodbackground{
	background-color:#EEF0F0;
	padding:10px 0px 10px 10px;
	border-top:2px solid #336666;
	border-bottom:2px solid #336666;
	text-align:left;
	margin:0;
}
#soderjanie00{
	
	font-size:14px;
	list-style-type: none;
}
#soderjanie{
		color:#000;
	
	text-indent:20px;
	list-style-type: none;
	font-weight:normal;
	
}
#soderjanie {
border:0px solid red;
	margin:0px;
	padding:0px;
}
#soderjanie  li{
	margin:0px;
	padding:0px;
}

#soderjanie li a{
	text-decoration:none;font-size:0.85em;margin:0px;
	padding:0px;
	border:0px solid blue;
}
#sodhed{
	list-style-type: none;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
#sodhed1{
	list-style-type: none;
	/*font-size:0.9em;*/
	
	color:#000;
}
#sodhed1  a{
	text-decoration:none
}
#sodbold{
font-weight:bold;
font-size:12px;
}
#ssilka{
	font-size:1em;
	
}
#ssilka12{
	font-size:12px;
	
}
#ssilka1{
	text-decoration:underline;
	
	
}
#sub1 {
	font-weight:bold;

	margin-top:0px;
	padding-top:10px;
	color:#0088cc;color:#000;
}

#subnavlistbot{
	list-style-type:none;
	font-size:0.9em;
	text-indent:20px;
}







#subnavlist{
	/*font-size:0.9em;*/
}


#sumstyle{
	font-size:24px;
	font-family:"Times New Roman", Times, serif;
	text-align:center;
}
#sumind{
	font-size:0.9em;
	text-align:center;
}
#tab{
}
#tab1{
	font-size:12px;
}
#table {
	padding:0;
	margin:0;
	border:0;
}
#tabhed {
	border:0px solid red;
	width:100%;
	/*width:550px;*/
}
table.figskob{
	margin:0;
	padding:0;
	border:1px solid red;
}
table.figskob tr{
	margin:0;
	padding:0;
}
table.figskob td{
	margin:0;
	padding:0;
	border:1px solid blue;
}
#texthidden{
display:none;
}
#title0{
	margin:0;
	padding:0;
	
	text-indent:0px;
}
#tform {
	font-style:italic;
}
ul{
	list-style-position:inside;
	margin-left:30px;
	
}
#v10{
	vertical-align:10px;
}
#v5{
	vertical-align:5px;
}
#vec{
	font-weight:bold;
	font-size:inherit;
}
#vecrow{
	font-weight:bold;
	text-align:center;
	font-style:italic;
}
#vector,.vector{
	font-size:16px;
	font-style:italic;
	text-decoration:overline;
}
#vector1{
	font-size:14px;
	font-style:italic;
	text-decoration:overline;
}	
#veralg{
	vertical-align:middle;
}


#wrapper {

/*width:100%;*/
/*outline:1px solid #cccccc;*/
padding:0;

margin:0;
/*margin-right:210px;*/

/*max-width:1500px;*/

border:0px solid #C00;
/*max-width:1000px;*/
/*background-color:#FFFAEA;*/
/* background:#ccffff; */
}
.tabformul td{
	text-align:center;
	padding:0;
}


