/*.hz{
	width:100%;
	margin-bottom:1px;
	text-align:center;
}
.hz a{
	position:relative;
	width:300px;
	
}

*/
#horznav ul {
	
	background-color:white;
	margin:0;
	padding:0;
	
}
#horznav ul li {
	background-color:#336666;background-color:#E5E5E5;
	display:block;
	text-align:center;
	margin:0px 0 1px 0;
	padding:0px 0px 0px 0px;;
	
	border:0px solid red;
	
}
#horznav ul li a{
	color:black;
	border:0px solid white;
	white-space:nowrap;
	display:block;
	height:100%;
	padding:12px 0px 12px 0px;;
	
	
	
		
}
#hdiv3{
	/*font-size:32px;*/
}
#footer1{
	display:none;
}